<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<title>Document</title>
</head>
<body>
	<div class="container">
		<div class="topWrapper">
			<div class="topWrapper_infobar">
				<div class="topWrapper_infobar_top">
					<div class = "topWrapper_infobar_top_logo">
						<a href="#"><img src="img/logo.png"></a>
					</div>
					<div class="topWrapper_infobar_top_info">
						<div class="topWrapper_infobar_top_info_connect">
							<span><img src="img/wifi-connection-signal-symbol.svg" alt=""></span>
							<span><img src="img/blueetooth-logo.svg" alt=""></span>
							<span><img src="img/ethernet.svg" alt=""></span>
						</div>
						<div class="topWrapper_infobar_top_info_date">
							<span>01/28/2019</span>
						</div>
					</div>
				</div>
				<div class= "topWrapper_infobar_time">
					<span>23:16:30</span>
				</div>
				<div class= "topWrapper_infobar_description">
					<span>Master</span>
				</div>
			</div>
			<div class="topWrapper_row1">
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_icon" src="img/thermometer.svg" alt="">
						<div class="topWrapper_row1_block_pictures_info">
							<span>°С</span>
							<span>24.5</span>
						</div>
					</div>
					<span class="topWrapper_row1_block_description">temperature</span>
				</div>
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_icon" src="img/icon.svg" alt="">
						<div class="topWrapper_row1_block_pictures_info">
							<span>pH</span>
							<span>7.0</span>
						</div>
					</div>
					<span class="topWrapper_row1_block_description">ph1</span>
				</div>
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_icon" src="img/icon.svg" alt="">
						<div class="topWrapper_row1_block_pictures_info">
							<span>pH</span>
							<span>7.1</span>
						</div>
					</div>
					<span class="topWrapper_row1_block_description">ph2</span>
				</div>
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_icon" src="img/thermometer.svg" alt="">
						<div class="topWrapper_row1_block_pictures_info">
							<span>mV</span>
							<span>9.0</span>
						</div>
					</div>
					<span class="topWrapper_row1_block_description">redox</span>
				</div>
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_icon" src="img/thermometer.svg" alt="">
						<div class="topWrapper_row1_block_pictures_info">
							<span>°С</span>
							<span>24.5</span>
						</div>
					</div>
					<span class="topWrapper_row1_block_description">temperature</span>
				</div>
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_icon" src="img/oxygen-symbol.svg" alt="">
						<div class="topWrapper_row1_block_pictures_info">
							<span>%</span>
							<span>70.9</span>
						</div>
					</div>
					<span class="topWrapper_row1_block_description">o2</span>
				</div>
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_iconRow2" src="img/wave.png" alt="">
					</div>
					<span class="topWrapper_row1_block_description">float1</span>
				</div>
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_iconRow2" src="img/wave.png" alt="">
					</div>
					<span class="topWrapper_row1_block_description">float2</span>
				</div>
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_iconRow2" src="img/wave.png" alt="">
					</div>
					<span class="topWrapper_row1_block_description">float3</span>
				</div>
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_iconRow2" src="img/wave.png" alt="">
					</div>
					<span class="topWrapper_row1_block_description">float4</span>
				</div>
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_iconRow2" src="img/wave.png" alt="">
					</div>
					<span class="topWrapper_row1_block_description">float5</span>
				</div>
				<div class="topWrapper_row1_block">
					<div class="topWrapper_row1_block_pictures">
						<img class="topWrapper_row1_block_pictures_iconRow2" src="img/wave.png" alt="">
					</div>
					<span class="topWrapper_row1_block_description">float6</span>
				</div>
			</div>
		</div>
		<!--********bottomWrapper*********-->
		<div class="bottomWrapper">
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/leaf.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">par1</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/leaf.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">par2</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/flash.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">0-10v 1</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/flash.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">0-10v 2</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/flash.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">0-10v 3</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/flash.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">0-10v 4</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/flash.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">0-10v 5</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/flash.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">0-10v 6</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/stop.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">feedstop</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/switch.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">virtual switch 1</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/switch.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">virtual switch 2</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/switch.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">virtual switch 3</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/switch.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">virtual switch 4</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/switch.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">virtual switch 5</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/switch.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">virtual switch 6</span>
			</div>
			<div class="bottomWrapper_block">
				<div class="bottomWrapper_block_pictures">
					<img class="bottomWrapper_block_pictures_icon" src="img/switch.svg" alt="">
				</div>
				<span class="bottomWrapper_block_description">virtual switch 7</span>
			</div>
		</div>
	</div>
</body>
</html>