<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="layout">
				<div class="layout_infobar">
					<div class="layout_infobar_top">
						<div class = "layout_infobar_top_logo">
							<a href="#"><img src="img/logo.png"></a>
						</div>
						<div class="layout_infobar_top_info">
							<div class="layout_infobar_top_info_connect">
								<span><img src="img/wifi-connection-signal-symbol.svg"></span>
								<span><img src="img/blueetooth-logo.svg"></span>
								<span><img src="img/ethernet.svg"></span>
							</div>
							<div class="layout_infobar_top_info_date">
								<span>01/28/2019</span>
							</div>
						</div>
					</div>
					<div class= "layout_infobar_time">
						<span>23:16:30</span>
					</div>
					<div class= "layout_infobar_description">
						<span>Master</span>
					</div>
				</div>
				<div class="layout_row1">
					<div class="layout_row1_block">
						<div class="layout_row1_block_pictures">
							<img src="img/thermometer.svg">
							<div class="layout_row1_block_pictures_info">
								<span>°С</span>
								<span>24.5</span>
							</div>
						</div>
						<span class="layout_row1_block_description">temperature</span>
					</div>
					<div class="layout_row1_block">
						<div class="layout_row1_block_pictures">
							<img src="img/icon.svg">
							<div class="layout_row1_block_pictures_info">
								<span>pH</span>
								<span>7.0</span>
							</div>
						</div>
						<span class="layout_row1_block_description">ph1</span>
					</div>
					<div class="layout_row1_block">
						<div class="layout_row1_block_pictures">
							<img src="img/icon.svg">
							<div class="layout_row1_block_pictures_info">
								<span>pH</span>
								<span>7.1</span>
							</div>
						</div>
						<span class="layout_row1_block_description">ph2</span>
					</div>
					<div class="layout_row1_block">
						<div class="layout_row1_block_pictures">
							<img src="img/thermometer.svg">
							<div class="layout_row1_block_pictures_info">
								<span>mV</span>
								<span>9.0</span>
							</div>
						</div>
						<span class="layout_row1_block_description">redox</span>
					</div>
					<div class="layout_row1_block">
						<div class="layout_row1_block_pictures">
							<img src="img/thermometer.svg">
							<div class="layout_row1_block_pictures_info">
								<span>°С</span>
								<span>24.5</span>
							</div>
						</div>
						<span class="layout_row1_block_description">temperature</span>
					</div>
					<div class="layout_row1_block">
						<div class="layout_row1_block_pictures">
							<img src="img/oxygen-symbol.svg">
							<div class="layout_row1_block_pictures_info">
								<span>%</span>
								<span>70.9</span>
							</div>
						</div>
						<span class="layout_row1_block_description">o2</span>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>